* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.phoneContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 20px;
  width: 330px;
  height: 760px;
  background-color: #ffffff;
  border: 6px solid black;
  border-radius: 25px;
}

body {
  background-color: #b8b888;
}

.icon {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
